// Grundläggande reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Globala stilar
body {
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center; // Centrerar alla sektioner horisontellt
  margin: 0;
}

// Typografi
h1 {
  color: $primary-color;
}

p {
  margin-bottom: $margin-base;
}

h2,
h3 {
  color: $secondary-color; // Använd en klarblå eller lila nyans för rubriker
}
