// Flexbox-baserad layout för sektioner
header,
section,
footer {
  padding: $padding-medium;
  max-width: $max-width;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: $margin-between-sections;
}

section {
  background-color: $background-color; // Använd den definierade bakgrundsfärgen
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: $max-width; // Använd variabel för maxbredd
  margin: $margin-between-sections auto; // Använd variabel för mellanrum mellan sektioner
  padding: $padding-medium; // Använd padding-variabel
}

header {
  background-color: $primary-color;
  text-align: center;
  color: $text-color;
  padding: $padding-large 0; // Använd stor padding för header
  margin-bottom: $margin-between-sections; // Mellanrum under headern
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-medium;
  background-color: $primary-color; // Använd bakgrundsfärg
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: $max-width; // Använd maxbredd
  color: $text-color;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  color: $primary-color;
  margin-bottom: 10px;
}

.project p {
  color: $text-color;
  font-size: 1.1em;
}
/* Skills List Styling */
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

ul li {
  padding: 10px;
  background-color: $accent-color; // Mörkare bakgrund för kontrast
  color: $text-color; // Ljus textfärg
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.profile-image {
  max-width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

// Media Queries
@media (max-width: $tablet) {
  body {
    padding: $padding-small;
  }

  section {
    padding: $padding-small;
  }

  header,
  #projects,
  #about {
    text-align: center;
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: $padding-small;
  }
}

@media (max-width: $mobile) {
  header h1 {
    font-size: 1.8em;
  }

  .profile-image {
    max-width: 200px;
  }
}
