// Typsnitt
$font-stack: "Arial, sans-serif";

// Marginaler och padding
$padding-base: 10px;
$margin-base: 20px;

// Färgpalett inspirerad av Magic: The Gathering
// Justerad färgpalett
$primary-color: #2c3e50; // Mörkblå för bakgrundselement
$secondary-color: #3498db; // Klarblå för rubriker och accenter
$accent-color: #8e44ad; // Lila nyans för skills-rutor och andra småelement
$text-color: #ecf0f1; // Ljus textfärg för läsbarhet
$background-color: #1a1a1d; // Mörk bakgrund för sidans övergripande känsla
