// Färgvariabler
$primary-color: #333;
$secondary-color: #ff6347;
$text-color: #333;
$background-color: #f4f4f4;

// Typsnitt
$font-stack: "Arial, sans-serif";

// Marginaler och padding
$padding-base: 10px;
$margin-base: 20px;
